<app-body>
  <div
    class="md:border md:border-grey-light-20 md:p-8 w-fit md:h-fit md:rounded-md md:mx-auto"
  >
    <form class="h-full md:h-2/3 flex flex-col" [formGroup]="form">
      <div
        class="flex flex-col items-center gap-2 justify-center mt-10 mb-auto md:my-0"
      >
        <div class="flex flex-col gap-1 items-center">
          <img
            class="h-auto w-1/2 object-cover"
            src="../../../../assets/images/logo.png"
            alt="logo da caring guardians"
          />
          <h5 class="font-martian text-center font-medium">CARING GUARDIANS</h5>
          <p class="text-l font-unica">ELDER PROTECTION</p>
        </div>

        <app-input
          formControlName="identification"
          [name]="'identification'"
          [placeholder]="'Endereço de E-mail ou telefone'"
          [hasError]="!!this.identification.errors"
          [touched]="this.identification.touched"
        >
        </app-input>

        <app-input
          formControlName="password"
          [name]="'password'"
          [placeholder]="'Senha'"
          [hasError]="!!this.password.errors"
          [touched]="this.password.touched"
          [type]="'password'"
        >
        </app-input>
        <div class="flex justify-between w-full">
          <div class="flex gap-1">
            <input id="remember-me" type="checkbox" />
            <label for="remember-me"
              ><p class="text-sm font-medium">Lembrar de mim</p></label
            >
          </div>

          <p class="cursor-pointer text-primary-40 text-sm font-medium">
            Esqueceu a senha?
          </p>
        </div>
        <app-button
          (click)="login()"
          [width]="'w-full'"
          [label]="'Entrar'"
        ></app-button>
        <div class="flex gap-2 font-medium">
          <p class="text-sm">Possui cadastro?</p>
          <p
            (click)="router.navigateByUrl('/register-user')"
            class="text-sm text-primary-40 cursor-pointer"
          >
            Cadastre-se
          </p>
        </div>
      </div>
    </form>
  </div>
</app-body>
