@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Inter", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    src: url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
  }
  h1 {
    @apply tw-text-5xl;
  }
  h2 {
    @apply tw-text-4xl;
  }
  h3 {
    @apply tw-text-3xl;
  }
  h4 {
    @apply tw-text-2xl;
  }
  h5 {
    @apply tw-text-xl;
  }
  p {
    @apply tw-text-base;
  }
}
